.navItem {
    color: rgb(171, 224, 245);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 3em;
  }
h1{
    color: rgb(171, 224, 245);
    padding-left: 3em;
    padding-right: 13em;
  }
.bgimg {
    width: 100%;
    height: 100vh;
    background-image: url('./img/backgd.jpg');
    background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}
.bgimg h3, h2{
  color: rgb(202, 245, 248);
  text-align: center;
  padding-top: 5em;
}
.gallery{
  color: rgb(21, 55, 83);
  text-align: center;
  margin-top: 2em;
}
.navBar{
  margin-left:30px;
}
@import 'https://fonts.googleapis.com/css?family=PT+Sans:400,700';
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	font-family: 'PT Sans';
	font-size: 16px;
}
.cards {
	padding: 8vh 6vw;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	position: relative;
}
.card {
	margin: 20px;
	cursor: pointer;
	overflow: hidden;
	width: 25vw;
	height: 25vw;
}
.card img{ 
  transition: all .2s ease-in-out; 
}
.card img:hover{
    transform: scale(1.2);
}
.btn-info{
  margin-left: 5rem;
}
.subHead{
  margin-top: 3em;
  text-align: center;
  color: rgb(27, 108, 139);
}